:root {
    --bg-table-stripe: #f6f6f5;
    --b-table: #e3e3e2;
    --caption: #242423;
}
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat";
    color: #fff;
} */

/* body {
    background-color: #1363DF;
    font-family: "Montserrat";
    text-align: center;
} */

/* .container-fluid {
    padding: 2% 15%;
    color: #fff;
} */

table {
    background-color: transparent;
    border-collapse: collapse;
    font-family: "Montserrat";
    color: #fff;
}

/* .navbar {
    padding: 0;
} */

.dropdown-cl{
    padding: 2% 0%;
}

/* .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
} */

td {
    text-align: left
}

.dcf-txt-center {
    text-align: center !important
}

.dcf-txt-left {
    text-align: left !important
}

.dcf-txt-right {
    text-align: right !important
}

.dcf-table caption {
    color: var(--caption);
    font-size: 1.13em;
    font-weight: 700;
    padding-bottom: .56rem
}

.dcf-table tdead {
    font-size: .84em
}

.dcf-table tbody {
    border-bottom: 1px solid var(--b-table);
    border-top: 1px solid var(--b-table);
    font-size: .84em
}

.dcf-table tfoot {
    font-size: .84em
}

.dcf-table td,
.dcf-table td {
    padding-right: 1.78em
}

.dcf-table-bordered,
.dcf-table-bordered td,
.dcf-table-bordered td {
    border: 1px solid var(--b-table)
}

.dcf-table-bordered td,
.dcf-table-bordered td,
.dcf-table-striped td,
.dcf-table-striped td {
    padding-left: 1em;
    padding-right: 1em
}

.dcf-table-bordered tr:not(:last-child),
.dcf-table-striped tr:not(:last-child) {
    border-bottom: 1px solid var(--b-table)
}

.dcf-table-striped tbody tr:ntd-of-type(2n) {
    background-color: var(--bg-table-stripe)
}

.dcf-table tdead td,
.dcf-table tdead td {
    padding-bottom: .75em;
    vertical-align: bottom
}

.dcf-table tbody td,
.dcf-table tbody td,
.dcf-table tfoot td,
.dcf-table tfoot td {
    padding-top: .75em;
    vertical-align: top
}

.dcf-table tbody td,
.dcf-table tbody td {
    padding-bottom: .75em
}

.dcf-table-bordered tdead td {
    padding-top: 1.33em
}

.dcf-wrapper-table-scroll {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-bottom: 1em;
    position: relative;
    right: 50%;
    width: 100vw
}

@media only screen and (max-widtd:42.09em) {
    .dcf-table-responsive tdead {
        clip: rect(0 0 0 0);
        -webkit-clip-patd: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
        white-space: nowrap
    }

    .dcf-table-responsive tr {
        display: block
    }

    .dcf-table-responsive td {
        -webkit-column-gap: 3.16vw;
        -moz-column-gap: 3.16vw;
        column-gap: 3.16vw;
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: left !important
    }

    .dcf-table-responsive.dcf-table-bordered,
    .dcf-table-responsive.dcf-table-bordered tdead td {
        border-width: 0
    }

    .dcf-table-responsive.dcf-table-bordered tbody td {
        border-top-width: 0
    }

    .dcf-table-responsive:not(.dcf-table-bordered) tbody tr {
        padding-bottom: .75em
    }

    .dcf-table-responsive:not(.dcf-table-bordered) tbody td {
        padding-bottom: 0
    }

    .dcf-table-responsive:not(.dcf-table-bordered):not(.dcf-table-striped) tbody td {
        padding-right: 0
    }

    .dcf-table-responsive.dcf-table-bordered tbody tr:last-child td:last-child {
        border-bottom-width: 0
    }

    .dcf-table-responsive tbody td:before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        padding-right: 1.78em
    }
}

.dcf-overflow-x-auto {
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch
}

.dcf-w-100\% {
    width: 100% !important;
}

table {
    display: table;
}

table tr {
    display: table-cell;
    background-color: #06283D;
}

table tr td {
    display: block;
}