{% extends 'base_coor.html' %}

{% block title %} Faculty Details{% endblock %}

{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">#}
{##}
{#    <!-- ALL scripts-->#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>#}

{% block content %}

    <div class="container">
        <h2 style="padding:2% 0">Faculty</h2>
        <div class="container2" align="middle">
            {% if messages %}
                {% for message in messages %}
                    <h5 style="color: #181D31">{{ message }}</h5>
                {% endfor %}
            {% endif %}
        </div>
    <div class="row">

        <div class="col-lg-6">
            <form method="POST" action="c_addFaculty">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-ml"> ADD FACULTY </button>
            </form>
        </div>

        <div class="col-lg-6">
            <form method="POST" action="c_faculty_pref">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-ml"> Faculty Preferences </button>
            </form>
        </div>
    </div>
        <!-- {% comment %} <h1 style="text-align: center; margin-bottom:3%;">Lecture TimeTable</h1> {% endcomment %} -->
    <div class="dcf-overflow-x-auto" tabindex="0" style="padding: 2% 8%;">
<table class="dcf-table dcf-table-bordered dcf-table-striped dcf-w-100%">
	<tbody>
        <tr>
			<td class="dcf-txt-center" scope="col">First Name</td>
            <td class="dcf-txt-center" scope="row">Last ID</td>
            <td class="dcf-txt-center" scope="row">Email</td>
            <td class="dcf-txt-center" scope="row">&#8205</td>
		</tr>
        {% for x in allFaculty%}
                    <tr>
                        <td class="dcf-txt-center" scope="col"> {{x.first_name}} </td>
                        <td class="dcf-txt-center" scope="col"> {{x.last_name}} </td>
                        <td class="dcf-txt-center" scope="col"> {{x.email}}  </td>
                        <!-- <td class="dcf-txt-center" scope="col">
                            <form method="POST" action="">
                                {%csrf_token%}
                                    <button type="submit" class="btn btn-warning updateAndDeleteBtn"> UPDATE </button>
                            </form>
                        </td> -->
                        <td class="dcf-txt-center" scope="col">
                            <form method="POST" action="c_deleteFaculty/{{ x.id }}">
                                {%csrf_token%}
                                <button type="submit" class="btn btn-danger updateAndDeleteBtn"> DELETE </button>
                            </form>
                        </td>
                    </tr>
                {% endfor%}
    </tbody>
    </div>



{% endblock %}

